body{
    margin: 0;
    background-color: rgb(13, 3, 22);
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    padding-left: 40px;
}
.logo{
    width: 200px;
}
.nav{
    display: flex;
    list-style: none;
    gap: 50px;
    margin-top: 50px;
    margin-left: 100px;
}
.nav-link{
    font-size: 28px;
    text-decoration: none;
    color: aliceblue;
    
}