.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.797), rgba(0, 0, 0, 0.173)), url(../img/hero-back.webp);
    background-size: cover;
    height: 500px;
    padding: 40px 400px 40px 40px;
}
.hero-title{
    margin: 0;
    color: aliceblue;
    font-size: 48px;
}
.hero-text{
    color: aliceblue;
    font-size: 28px;
    width: 700px;
}
.hero-butn{
    background: none;
    color: aliceblue;
    border: 3px solid aliceblue;
    border-radius: 14px;
    font-size: 20px;
    height: 50px;
    text-align: center;
}